*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: rgb(17, 126, 13);
    width: 70vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain{
    background-color: rgb(76, 173, 173);
    height: 70vh;
    width: 60vw;
    border-radius: 5vh;
    display: grid;
    grid-template-columns: repeat(12, 5vw);
    grid-template-rows: repeat(7, 10vh);
}